/* RESET BASICO */

body{

margin:0;

background:white;

color:black;

font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, Helvetica, sans-serif;

}



/* SCROLL SUAVE */

html{

scroll-behavior:smooth;

}



/* LOGO */

.logo{

width:120px;

margin-bottom:20px;

}



/* HEADER */

.header{

position:fixed;

top:0;

width:100%;

padding:25px 40px;

box-sizing:border-box;

z-index:1200;

}



/* CONTENEDOR HEADER */

.nav-container{

display:flex;

justify-content:flex-start;

}



/* HAMBURGER */

.hamburger{

width:30px;

cursor:pointer;

z-index:1300;

position:relative;

}



.hamburger span{

display:block;

height:3px;

background:black;

margin:6px 0;

transition:0.3s;

}



/* ANIMACION A X */

.hamburger.active span:nth-child(1){

transform:rotate(45deg) translate(5px,5px);

}



.hamburger.active span:nth-child(2){

opacity:0;

}



.hamburger.active span:nth-child(3){

transform:rotate(-45deg) translate(7px,-7px);

}



/* MENU DESPLEGABLE CORTO DESDE ARRIBA */

.nav-menu{

position:fixed;

top:-300px;

left:0;

width:100%;

height:300px;

background:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

transition:0.4s;

z-index:1250;


/* BONUS PREMIUM */

border-bottom:1px solid #eee;

opacity:0;

}



/* MENU ACTIVO */

.nav-menu.active{

top:0;

opacity:1;

}



/* LINKS MENU */

.nav-menu a{

text-decoration:none;

color:black;

font-size:24px;

margin:10px;

transition:0.3s;

}



/* HOVER PROFESIONAL */

.nav-menu a:hover{

opacity:0.5;

}



/* OVERLAY OSCURO */

.overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.4);

opacity:0;

pointer-events:none;

transition:0.3s;

z-index:1200;

}



.overlay.active{

opacity:1;

pointer-events:auto;

}



/* HERO */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}



.hero h1{

font-size:60px;

margin:0;

letter-spacing:5px;

}



.hero p{

color:#555;

margin:10px;

}



/* BOTON */

.boton{

margin-top:20px;

padding:10px 20px;

border:1px solid black;

color:black;

text-decoration:none;

transition:0.3s;

}



.boton:hover{

background:black;

color:white;

}



/* SECCIONES */

.section{

padding:80px 40px;

text-align:center;

}



/* VIDEO */

.video iframe{

width:80%;

height:400px;

border:none;

}



/* PORTAFOLIO */

.portfolio{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}



.portfolio img{

width:300px;

transition:0.3s;

}



/* HOVER IMAGENES */

.portfolio img:hover{

opacity:0.8;

transform:scale(1.02);

}



/* FOOTER */

footer{

padding:20px;

text-align:center;

color:#777;

}